name: add artifact links to pull request and related issues
on:
  workflow_run:
    workflows: [Zip and send file to different repo]
    types: [completed]

jobs:
  artifacts-url-comments:
    name: add artifact links to pull request and related issues job
    runs-on: ubuntu-latest
    steps:
      - name: add artifact links to pull request and related issues step
        uses: tonyhallett/artifacts-url-comments@v1.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          prefix: Build ZIP for release ${{ github.event.number }}:
          format: name
          addTo: pull
