name: Zip and send file to different repo

on: pull_request

jobs:
  zip-it:
    runs-on: ubuntu-latest
    steps:
      - name: Create the ZIP file
        uses: montudor/action-zip@v1
        with:
          args: zip -qq -r test-file-${{ github.event.number }}.zip . -i src
      - name: Upload the ZIP file artifact
        uses: actions/upload-artifact@v2
        with:
          # path: test-file-${{ github.event.number }}.zip
          path: /
          name: test-file-${{ github.event.number }}.zip
  send-it:
    needs: zip-it
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Upload the ZIP file artifact
        uses: actions/download-artifact@v2
        with:
          # path: test-file-${{ github.event.number }}.zip
          path: /
          name: test-file-${{ github.event.number }}.zip
      - name: Send the ZIP file
        uses: dmnemec/copy_file_to_another_repo_action@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source_file: test-file-${{ github.event.number }}.zip
          destination_repo: nielslange/test-receiver
          destination_folder: /
          destination_branch: trunk
          user_email: niels.lange@a8c.com
          user_name: nielslange
          commit_message: ${{ github.ref_name }}
